$font: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
$font-size: 16px;

// Theme
$primary-color: #255aaa;
$secondary-color: #5e97ce;

// Bg
$global-bg-color: #fff;

// Text
$text-primary-color: #333;
$text-secondary-color: #666;
$text-third-color: #999;

// Layout
$layout-min-width: 1200px;
