/*!
=================================================================

                  本文件由SCSS编译生成，禁止直接修改

=================================================================
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  border: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  outline: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

a img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

textarea,
input,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  cursor: pointer;
}

body,
input,
button,
textarea,
select,
option {
  font: normal 16px "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}

body {
  position: relative;
  min-width: 1200px;
  background-color: #fff;
  color: #333;
}

img.responsive {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

.bg-contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
