@import "core/style";

body {
  color: $text-primary-color;
}

.container {
  max-width: $layout-min-width;
  margin: 0 auto;

  h1 {
    padding: 1em 0;
    color: $primary-color;
    text-align: center;
  }
}
